.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin: 0 auto;
  max-width: 1200px;
  padding: 4em 1em;
}

.pageNotFound h1 {
  font-family: "Grifter", sans-serif;
  font-size: 3.5rem;
  line-height: 0.85;
  margin-bottom: 0.25em;
}

.pageNotFound p {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: justify;
  font-weight: 200;
  font-size: 1rem;
}

.description {
  width: 80%;
  margin-bottom: 1.25em;
  line-height: 1.25;
  text-align: justify;
}

@media (min-width: 800px) {
  .pageNotFound {
    padding: 5em 3em 3em 3em;
    min-width: 100%;
  }

  .pageNotFound h1 {
    font-size: 4.25rem;
  }
}
